.bubble {
  background: #373737;
  border-radius: 25px;
}

.bubble h5 :last-child {
  margin-bottom: 0rem;
}

.bubble h5 :not(:last-child) {
  margin-bottom: 1rem;
}

.bubble h5 {
  margin-bottom: 0;
}