.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.imageHidden {
  opacity: 0 !important;
}
