.selector-link {
  cursor: pointer;
  border-bottom: 2px solid #f7f7f7;
  transition: opacity 200ms ease-out, border 200ms ease-out;
}

.selector-link:hover, .selector-link-active{
  border-bottom: 2px solid black;
}
