.project-card {
  filter: brightness(80%);
  border-radius: 20px;
  transition: filter 400ms ease-out;
}

.project-card:hover {
  filter: brightness(30%);
  /* background: black; */
}

.spotify-tracks {
  background: url("../../../../../../images/spotify-tracks.png");
  background-size: cover;
  background-position-x: center;
}

.uwsublet {
  background: url("../../../../../../images/uwsublet.png");
  background-size: cover;
  background-position-x: center;
}

.personal-website {
  background: url("../../../../../../images/personal.png");
  background-size: cover;
  background-position-x: center;
}

.hardware{
  background: url("../../../../../../images/hardware.jpg");
  background-size: cover;
  background-position-x: center;
}
