body {
  /* background: url("images/space.jpg"); */
  background: linear-gradient(rgba(0,0,0,1) 35%, rgba(32,32,110,1) 75%, rgba(9,127,151,1) 100%);
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* more styles */
}
