body {
  /* background: url("images/space.jpg"); */
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  /* more styles */
}
/*
::-webkit-scrollbar {
  display: none;
} */